# This directory is large and needs to be locally ceated using 'npm install'
/node_modules

# This directory contains a (large) local copy of data
/json 

# Local development files
/local

# There are many changes in this file
package-lock.json


# Logfiles
*.log

# Local configuration file containing database passwords 
# which supersedes defaults in 'general.js'
/config/local.config.js
